header {
    background-color: blue;
    color: white;
    padding: 20px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 10px;
    margin-top: 8vh;
}

body {
    background-color: #F7F7F7;
}

button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  padding: 8px 16px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  filter: brightness(1.15);
}

button:active {
  transform: scale(0.95);
  filter: brightness(0.95);
}

.users-wrapper,
.movies-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-inline: clamp(16px, 5vw, 96px);
}

.titles {
    margin-bottom: 16px;
    text-align: center;
}

.users-grid, .movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
}

.user-card, .movie-card {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;

}

.add-user-card, .add-movie-card {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
    margin-top: 24px;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
}

input[type="text"] {
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 32px;
    width: 70%;
}

.movies-title {
    margin-left: 0;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .users-grid, .movies-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        justify-content: center;
    }

    .user-card:nth-last-child(1):nth-child(odd) {
        grid-column: 1 / -1;
    }
}

@media (max-width: 550px) {
    .users-grid, .movies-card {
        grid-template-columns: 1fr;
    }
}
