<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movie App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
    <h1>MyMovieApp</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('list_users') }}">Users</a></li>
            <li><a href="{{ url_for('list_movies') }}">Movies</a></li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>