{% extends "base.html" %}
{% block content %}

<h1 class="titles">Users</h1>

<div class="users-wrapper">
    <div class="users-grid">
        {% for user in users %}
        <div class="user-card">
            <h3>{{ user.name }}</h3>
            <a href="{{ url_for('get_movies', user_id=user.id) }}">
                <button>View Movies</button>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="add-user-card">
        <form action="{{ url_for('create_user') }}" method="post">
            <h3>Add New User</h3>
            <input type="text" name="name" required>
            <button type="submit">Add</button>
        </form>
    </div>
</div>

{% endblock %}